<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [46]:
import pandas as pd

Load the dataset into a dataframe.

In [47]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [48]:
# your code goes here
df1 = df[df.duplicated()]
print("Total number of rows: ", df.shape[0])
print("Number of duplicated rows: ", df1.shape[0])

Total number of rows:  11552
Number of duplicated rows:  154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [49]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [50]:
# your code goes here
print("Total number of rows: ", df.shape[0])

Total number of rows:  11398

## Finding Missing values

Find the missing values for all columns.

In [52]:
# your code goes here
df.isnull()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [53]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [54]:
# your code goes here
arr = df['WorkLoc'].unique()
print(arr)
len(arr)

['Home' 'Office' 'Other place, such as a coworking space or cafe' nan]

4

Identify the value that is most frequent (majority) in the WorkLoc column.

In [55]:
#make a note of the majority value here, for future reference
#
df['WorkLoc'].mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [56]:
# your code goes here
df['WorkLoc'].fillna('Office',inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [57]:
# your code goes here
df['WorkLoc'].isnull().sum()
df1 = df

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [58]:
# your code goes here
arr = df['CompFreq'].unique()
print (arr)

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [70]:
#If the CompFreq is Yearly then use the exising value in CompTotal
#If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
#If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

# your code goes here

df = df1
j=df.shape[0]
print(j)

df['NormalizedAnnualCompensation']=' '

for i in range(j):
    if (df['CompFreq'].iloc[i] == "Yearly"):
        df['NormalizedAnnualCompensation'].iloc[i] = df['CompTotal'].iloc[i]
    else:
        if (df['CompFreq'].iloc[i] == "Monthly"):
            df['NormalizedAnnualCompensation'].iloc[i]= df['CompTotal'].iloc[i] * 12
        else:
            if (df['CompFreq'].iloc[i] == "Weekly"):
                df['NormalizedAnnualCompensation'].iloc[i] = df['CompTotal'].iloc[i] * 52     

df3 = df[['CompFreq','CompTotal','NormalizedAnnualCompensation']]
df3.head(10)

11398

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

  CompFreq  CompTotal NormalizedAnnualCompensation
0   Yearly    61000.0                      61000.0
1   Yearly   138000.0                     138000.0
2   Yearly    90000.0                      90000.0
3  Monthly    29000.0                     348000.0
4   Yearly    90000.0                      90000.0
5  Monthly     9500.0                     114000.0
6  Monthly     3000.0                      36000.0
7   Yearly   103000.0                     103000.0
8   Yearly    69000.0                      69000.0
9  Monthly     8000.0                      96000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).